<!-- Наследование base.html и его расширение -->
{% extends "base.html" %}

<!-- название вкладки (переопределение) -->
{% block title %}Спрос на разработчиков и навыки / Статистика / HotSkills.info{% endblock %}

<!-- Начало блока контента -->
{% block content %}

<!-- прелоад иконок -->
<script type="module">
    import { loadLanguagesIfNeeded, getLanguageCodes } from '/static/js/api.js';

    loadLanguagesIfNeeded().then(() =>
        getLanguageCodes()?.forEach(code =>
            document.head.insertAdjacentHTML("beforeend",
                `<link rel="preload" as="image" href="/static/logos/${code}.webp">`
            )
        )
    ).catch(e => console.error("Ошибка при прелоаде иконок:", e));
</script>

<!-- Информирование о статистике с HH.RU на текущую дату/время -->
<div class="data-info">
    <p>Статистика по открытым данным с HH.RU на <span id="current-datetime"></span></p>
</div>


<!-- Заголовок графика 1 -->
<div class="chart-title">
    Разработчики ПО<br>
    <span class="title-sub">(спрос на разработчиков в данный момент)</span>
</div>


<!-- Первый график: Разработчики ПО -->
<div class="chart-container">
    <div id="chart_software_developer" class="chart"></div>
</div>


<!-- Центровой страничный контейнер ограничивающий ширину (чтобы содержимое при ультра широких экранах не съехало в бок) -->
<div class="container-page">

    <!-- Пруфлинк -->
    <p class="chart-source">
        Количество открытых вакансий по специализации "Программист, разработчик". (<a href="https://hh.ru/search/vacancy?professional_role=96" target="_blank">Ссылка для проверки.</a>)
    </p>
</div>


<!-- Блок зарплат -->

<!-- Заголовок для таблицы с зарплатами по языкам программирования. Если удалить, не будет отображаться заголовок. -->
<div class="chart-title">
    Зарплатные вилки по языкам программирования (на <span id="current-date"></span>)<br>
    <span class="title-sub">(по специализации "Программист, разработчик")<br>(на основе текущих открытых вакансий с прописанным окладом и после налогов)</span>
</div>


<!-- Контейнер и таблица для отображения зарплатных вилок для разных языков программирования. -->
<div class="salary-table-wrapper">

    <div class="tabs">
        <div class="tab active" data-value="moscow">Москва</div>
        <div class="tab" data-value="russia">Россия</div>
    </div>

    <table class="salary-table">
        <thead>
        <tr>
            <th data-sortable>Язык</th>
            <th data-sortable>Вакансий</th>
            <th data-sortable>Без опыта</th>
            <th data-sortable>1–3 года</th>
            <th data-sortable>3–6 лет</th>
            <th data-sortable>6+ лет</th>
        </tr>
        </thead>
        <tbody>
            <!-- Здесь контент отрабатывает table.js (логотипы, названия языков, вакансии, зарплаты) -->
        </tbody>
    </table>
</div>


<!-- Центровой страничный контейнер ограничивающий ширину (чтобы содержимое при ультра широких экранах не съехало в бок) -->
<div class="container-page">

    <!-- Пруфлинк -->
    <p class="chart-source">
        Зарплатные вилки по языкам высчитываются с открытых вакансий HH.RU где указан доход. Налоги учитываются (разные ставки 13-15% тоже). Данные округляются до сотен и обновляются 1 раз в день.<br>
        (Зарплатная вилка — среднее значение из всех минимальных зарплат и среднее значение из всех максимальных зарплат по найденным вакансиям)
    </p>
</div>





<!-- Заголовок графика 2 -->
<div class="chart-title">
    Языки программирования<br>
    <span class="title-sub">(динамика популярности в открытых вакансиях по разработке в данный момент)</span>
</div>


<!-- Контейнер для второго графика с языками программирования. -->
<div class="chart-container">
    <div id="chart_all_languages" class="chart"></div>
</div>



<!-- Подключение библиотеки Plotly для отображения графиков. Если удалить, графики не будут отображаться, так как эта библиотека не будет загружена. -->
<script defer src="https://cdn.plot.ly/plotly-basic-latest.min.js"></script>
<!--<link rel="preload" href="/static/libs/plotly-basic-latest.min.js" as="script">-->
<!--<script defer src="/static/libs/plotly-basic-latest.min.js"></script>-->
<!-- Подключение JavaScript-файлов (интерактивные элементы, графики, таблицы и т.д.) -->
<script type="module" src="/static/js/scripts.js" defer></script>

{% endblock %}
<!-- Закрытие блока контента. -->