{% extends "base.html" %}

{% block title %}{{ name }} / Статистика / HotSkills.info{% endblock %}

{% block content %}
<div class="container">
    <h1 style="color: #b30000;">{{ name }}</h1>
</div>


<!-- Заголовок для навыков. -->
<div class="chart-title">
    Список самых востребованных ключевых навыков для языка на данный момент в вакансиях.<br>
    <!-- Информирование о статистике с HH.RU на текущую дату/время -->
    <span class="title-sub">(cтатистика с <strong>HH.RU</strong> на <span id="current-datetime"></span>)</span>
</div>


<!-- Навыки со счетчиками упоминаний в вакнсиях (в виде пилюль) -->
<div class="container-page">
    {% if skills %}
    <ul class="skills-tag-list">
        {% for skill, vacancy_count in skills %}
        <li class="skill-tag" title="Вакансий: {{ vacancy_count }}">
            {{ skill }} <span class="vacancy-count">({{ vacancy_count }})</span>
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <p>Навыки пока не загружены.</p>
    {% endif %}
</div>


<!-- Вспомогательныя информация по навыкам (откуда берётся и как часто обновляется) -->
<div class="container-page">
    <p class="chart-source">
        Для сбора навыков берутся последние по дате вакансии с именем языка в названии (но не более 2000 вакансий)<br>
        Навыки сортируются по частоте упоминаний, и отображаются 20 самых востребованных.<br>
        (обновление списка происходит каждый день)
    </p>
</div>


<script>
    document.addEventListener('DOMContentLoaded', () => {
        const now = new Date();
        document.getElementById('current-datetime').textContent = now.toLocaleString();
    });
</script>
{% endblock %}
