{% extends "base.html" %}

{% block title %}{{ name }} / Статистика / HotSkills.info{% endblock %}

{% block content %}
<div class="container">
    <h1>{{ name }}</h1>
    <!-- Информирование о статистике с HH.RU на текущую дату/время -->
    <p>Это страница статистики с <strong>HH.RU</strong> для языка: <strong>{{ name }}</strong> на <span id="current-datetime"></span></p>
    <p>Список самых востребованных ключевых навыков для данного языка на данный момент в открытых вакансиях.</p>
    <div class="container-page">
        {% if skills %}
        <ul class="skills-tag-list">
            {% for skill in skills %}
            <li class="skill-tag" title="Вакансий: {{ skill.vacancy_count }}">
                {{ skill.skill }} <span class="vacancy-count">({{ skill.vacancy_count }})</span>
            </li>
            {% endfor %}
        </ul>
        {% else %}
        <p>Навыки пока не загружены.</p>
        {% endif %}
    </div>
</div>

<!-- Центровой страничный контейнер ограничивающий ширину (чтобы содержимое при ультра широких экранах не съехало в бок) -->
<div class="container-page">
    <p class="chart-source">
        Навыки собираются с последних, свежих по дате вакансий, связанных с выбранным языком программирования.<br>
        (для анализа используется до 2000 последних вакансий, где в названии вакансии фигурирует название языка)<br>
        Затем навыки сортируются по частоте упоминаний, и отображаются 20 самых востребованных.<br>
        (обновление списка для поддержки актуальности происходит каждый день)
    </p>
</div>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        const now = new Date();
        document.getElementById('current-datetime').textContent = now.toLocaleString();
    });
</script>
{% endblock %}
