<!-- Наследование base.html и его расширение -->
{% extends "base.html" %}

<!-- название вкладки (переопределение) -->
{% block title %}Спрос на разработчиков и навыки / Статистика / DevSkills.info{% endblock %}

<!-- Начало блока контента -->
{% block content %}


<!-- Информирование о статистике с HH.RU на текущую дату/время -->
<div class="data-info">
    <p>Статистика по открытым данным с HH.RU на <span id="current-datetime"></span></p>
</div>




<!-- Заголовок графика 1 -->
<div class="chart-title">
    Разработчики ПО : Открытые вакансии<br>
    <span class="title-sub">(спрос на разработчиков в данный момент)</span>
</div>

<!-- Первый график: Вакансии для Разработчиков ПО -->
<div class="chart-container">
    <div id="chart_software_developer_vacancies" class="chart"></div>
</div>


<!-- Центрирующий страничный контейнер ограничивающий ширину (чтобы содержимое при ультра широких экранах не съехало в бок) -->
<div class="container-page">

    <!-- Пруфлинк -->
    <p class="chart-source">
        Количество открытых вакансий по специализации "Программист, разработчик". (<a href="https://hh.ru/search/vacancy?professional_role=96" target="_blank">Ссылка для проверки</a>)
    </p>
</div>




<!-- Заголовок графика 2 -->
<div class="chart-title">
    Разработчики ПО : Активные резюме<br>
    <span class="title-sub">(резюме разработчиков со статусом "Активно ищет работу")</span>
</div>

<!-- Второй график: Резюме Разработчиков ПО -->
<div class="chart-container">
    <div id="chart_software_developer_resumes" class="chart"></div>
</div>

<!-- Центрирующий страничный контейнер ограничивающий ширину (чтобы содержимое при ультра широких экранах не съехало в бок) -->
<div class="container-page">

    <!-- Пруфлинк -->
    <p class="chart-source">
        Количество резюме по специализации "Программист, разработчик" со статусом "Активно ищет работу". (<a href="https://hh.ru/search/resume?job_search_status=active_search&professional_role=96" target="_blank">Ссылка для проверки</a>)
    </p>
</div>




<!-- Заголовок графика 3 -->
<div class="chart-title">
    Количество новых вакансий<br>
    <span class="title-sub">(по специализации "Программист, разработчик")</span>
</div>

<!-- Контейнер графика -->
<div class="chart-container">
    <div id="chart_new_vacancies" class="chart"></div>
</div>

<!-- Центрирующий страничный контейнер ограничивающий ширину (чтобы содержимое при ультра широких экранах не съехало в бок) -->
<div class="container-page">

    <!-- Пруфлинк -->
    <p class="chart-source">
        Динамика количества новых вакансий за день по специализации "Программист, разработчик" для России и Москвы.
    </p>
</div>




<!-- Заголовок графика 4 -->
<div class="chart-title">
    Языки программирования<br>
    <span class="title-sub">(динамика популярности в открытых вакансиях по разработке в данный момент)</span>
</div>


<!-- Контейнер для второго графика с языками программирования. -->
<div class="chart-container">
    <div id="chart_all_languages" class="chart"></div>
</div>



<!-- Подключение библиотеки Plotly для отображения графиков. Если удалить, графики не будут отображаться, так как эта библиотека не будет загружена. -->
<script defer src="https://cdn.plot.ly/plotly-basic-latest.min.js"></script>
<!--<link rel="preload" href="/static/libs/plotly-basic-latest.min.js" as="script">-->
<!--<script defer src="/static/libs/plotly-basic-latest.min.js"></script>-->
<!-- Подключение JavaScript-файлов (интерактивные элементы, графики, таблицы и т.д.) -->
<script type="module" src="/app/static/js/scripts.js" defer></script>

{% endblock %}
<!-- Закрытие блока контента. -->