{% extends "base.html" %}

{% block title %}{{ name }} / Статистика / DevSkills.info{% endblock %}

{% block content %}

<!-- Название языка -->
<div class="container">
    <h1 class="lang-title">{{ name }}</h1>
</div>


<!-- Заголовок для навыков. -->
<div class="chart-title">
    Список наиболее востребованных ключевых навыков в вакансиях к выбранному языку.<br>
    <!-- Информирование о статистике с HH.RU на текущую дату/время -->
    <span class="title-sub">(cтатистика по открытым данным с <strong>HH.RU</strong> на <span id="current-datetime"></span>)</span>
</div>


<!-- Навыки со счетчиками упоминаний в вакнсиях (в виде пилюль) -->
<div class="container-page">
    {% if skills %}
    <ul class="skills-tag-list">
        {% for skill, vacancy_count in skills %}
        <li class="skill-tag" title="Вакансий: {{ vacancy_count }}">
            {{ skill }} <span class="vacancy-count">({{ vacancy_count }})</span>
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <p>Навыки пока не загружены.</p>
    {% endif %}
</div>


<!-- Вспомогательныя информация по навыкам (откуда берётся и как часто обновляется) -->
<div class="container-page">
    <p class="chart-source">
        Для анализа берутся последние по дате вакансии с именем языка в названии (но не более 2000 вакансий)<br>
        Навыки сортируются по частоте упоминаний, и отображаются 20 самых востребованных.<br>
        (обновление списка происходит каждый день)
    </p>
</div>


<!-- Блок вакансий -->

{% if hh_keyword %}

<!-- Заголовок для таблицы с вакансиями по языкам программирования. Если удалить, не будет отображаться заголовок. -->
<div class="chart-title">
    Вакансии связанные с языком программирования {{ name }} (на <span id="current-date"></span>)<br>
    <span class="title-sub">(по специализации "Программист, разработчик")</span>
</div>


<!-- Контейнер и таблица для отображения вакансий для языка программирования. -->
<div class="salary-table-wrapper">

    <div class="tabs">
        <div class="tab active" data-value="moscow">Москва</div>
        <div class="tab" data-value="russia">Россия</div>
    </div>

    <table class="salary-table">
        <thead>
        <tr>
            <th data-sortable>Название вакансии</th>
            <th data-sortable>Работодатель</th>
            <th data-sortable>Создана</th>
            <th data-sortable>Откликов (с момента создания)</th>
            <th data-sortable>Оформление</th>
            <th data-sortable>Оклад</th>
        </tr>
        </thead>
        <tbody>
            <!-- Здесь контент отрабатывает table.js (логотипы, названия языков, вакансии, зарплаты) -->
        </tbody>
    </table>
</div>


<!-- Центрирующий страничный контейнер ограничивающий ширину (чтобы содержимое при ультра широких экранах не съехало в бок) -->
<div class="container-page">

    <!-- Пруфлинк -->
    <p class="chart-source">
        Таблица обновляется каждые 30 мин.
    </p>
</div>

{% endif %}

<!-- Конец блока вакансий -->


<script>
    document.addEventListener('DOMContentLoaded', () => {
        const now = new Date();
        document.getElementById('current-date').textContent = `${now.getFullYear()}.${String(now.getMonth() + 1).padStart(2, '0')}.${String(now.getDate()).padStart(2, '0')}`;
        document.getElementById('current-datetime').textContent = now.toLocaleString();
    });
</script>
<script>
    const hhKeyword = "{{ hh_keyword }}";
</script>
<script type="module" src="/app/static/js/vacancies.js"></script>
{% endblock %}
